<launch>


  <!-- Launch Turtlebot3 Keyboard Teleop node -->
  <include file="$(find turtlebot3_teleop)/launch/turtlebot3_teleop_key.launch">

  </include>

  <node pkg="RBE595_Final_Project" type="DistServer.py" name="image_processor_server"> </node -->
  <node pkg="RBE595_Final_Project" type="ackermann_node.py" name="teleop_wrapper_node"> </node>
  <node pkg="RBE595_Final_Project" type="EKF_SLAM.py" name="slam_node"> </node >
  

</launch>
